{% extends 'SkreenHouseFactoryTvBundle::layout.html.twig' %}

{% block title %}{{ 'page.title.home'|trans }}{% endblock %}

{% block content %}
<div id="splash">
  <div id="user" class="tv-container-horizontal"></div>
  <img id="logo" src="{{ asset('bundles/skreenhousefactorytv/images/logo.png') }}" alt="{{ 'service.name'|trans }}" />
  <div id="icons" class="tv-container-horizontal">
    <div class="icon tv-component" data-load-route="tv-replay" data-load-view="sliders" data-slider-scroll="yes"><div class="img"></div>{{ 'splash.tv.replay'|trans }}</div>
    <div class="icon tv-component" data-load-route="v3-vod"><div class="img"></div>{{ 'splash.vod'|trans }}</div>
    <div class="icon tv-component" data-load-route="v3-cine"><div class="img"></div>{{ 'splash.cine'|trans }}</div>
    <div class="icon tv-component" data-load-route="playlist"><div class="img"></div>{{ 'splash.playlist'|trans }}</div>
  </div>
  <div id="search" class="tv-container-horizontal">
  <input type="text" class="tv-component" data-load-view="sliders" data-load-route="search" />
  </div>
</div>
{% endblock %}